body {
  margin: 1px;
  background-color: #242424;
  color: #aaaaaa;
}

.container {
  margin: 0 auto;
  text-align: left;
  width: 98%;
}

a, a:link, a:visited {
  color: #999999;
  text-decoration: underline;
}

a:hover {
  color: #dadada;
}

/* header */
header {
  padding: 1em 0;
  color: #eeeeee;
}
header h1, header h2 {
  color: #eeeeee;
  margin: 10px 0;
}
header h1 a, header h1 a:link, header h1 a:visited,
header h2 a, header h2 a:link, header h2 a:visited {
  color: #eeeeee;
  text-shadow: 0 2px 0 #000;
  text-decoration: none;
}
header h1 a:hover, header h2 a:hover {
  color: #fff;
  text-decoration: none;
}

#main {
  display: flex;
  flex-wrap: wrap;
}

.menu {
  font-variant: all-small-caps;
  font-weight: bold;
  font-size: 18px;
}

.menu ul {
  padding-left: 0;
  list-style-type: none;
}


.menu ul ul {
  padding-left: 7px;
  font-size: 16px;
}

.menu ul ul ul {
  padding-left: 10px;
  font-size: 15px;
}

.menu a,
.menu a:link,
.menu a:visited {
  text-decoration: none;
  display: block;
  color: #eeeeee;
}

.menu a:hover {
  color: #ffffff;
}

#menu ul {
  list-style-type: none;
  margin: 0 0 10px;
  padding: 0;
}
#menu ul li {
  display: inline-block;
}
#menu ul li a, #menu ul li a:link, #menu ul li a:visited {
  color: #aaaaaa;
  border-bottom: 1px solid #aaaaaa;
  padding-bottom: 2px;
  margin-left: 5px;
  text-decoration: none;
}
#menu ul li a:hover {
  color: #eeeeee;
  border-color: #eeeeee;
  text-decoration: none;
}

/* gallery */
#albums ul {
  list-style-type: none;
  padding-left: 0;
}
#albums ul li {
  display: inline-block;
  margin: 0 20px 30px 0;
  text-align: center;
  vertical-align: top;
  width: 280px;
}
/*
#albums ul li:nth-child(3n+3) {
  margin-right: 0;
}
 */
#albums ul li a img {
  opacity: 1;
  -webkit-transition: opacity 0.2s ease-in;
  -moz-transition-property: opacity;
  -moz-transition-duration: 0.2s;
  -moz-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.6);
  -o-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.6);
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.6);
}
#albums ul li a:hover img {
  opacity: .5;
}

/* galleria */
#gallery {
  line-height: 0;
  flex: 1;
  max-height: 900px;
  min-width: 250px;
  clear: both;
}
#gallery video {
  position: absolute;
  top: 10%;
  width: 100%;
  margin: 0 auto;
}

#gallery .galleria-container {
  max-height: inherit;
}

#gallery .galleria-thumbnails .active {
  border-bottom: 2x solid light-gray;
}

#gallery .galleria-thumbnails .galleria-image {
  margin: 0 5px 0 0;
}

.icons {
  bottom: 10px;
  left: 20px;
  padding: 5px;
  z-index: 2;
  position: absolute;
  text-align: right;
}
.icons a {
  cursor: pointer;
}
.icons img {
  opacity: .6;
}
.icons img:hover {
  opacity: .9;
}

/* footer */
footer {
  clear: both;
  display: block;
  margin: 1em 0;
  text-align: center;
}
footer a:link, footer a:visited {
  font-weight: bold;
  text-decoration: none;
}
footer a:hover {
  border-bottom: 1px solid;
  text-decoration: none;
}
