name: Build demo and check output

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: astral-sh/setup-uv@v7
        with:
          python-version: '3.13'
          activate-environment: true
          cache-dependency-glob: 'pyproject.toml'
      - run: |
          sudo apt-get update
          sudo apt-get install ffmpeg
      - run: make devinstall
      - run: make demo
      - uses: peaceiris/actions-gh-pages@v4.0.0
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: demo/output
          publish_branch: gh-pages
          force_orphan: true
